NET "AN0" LOC = F17;
NET "AN1" LOC = H17;
NET "AN2" LOC = C18;
NET "AN3" LOC = F15;
NET "CLK_50M" LOC = B8;
# we want the design to run at MHz
NET "CLK_50M" PERIOD = 20.0ns HIGH 50%;
# LEDs
NET "LED" LOC = J14;
NET "WIN" LOC = K15;
NET "LOSE" LOC = J15;
#NET "DEBUG" LOC = K14;

NET "SEVEN_SEG[0]" LOC = L18;
NET "SEVEN_SEG[1]" LOC = F18;
NET "SEVEN_SEG[2]" LOC = D17;
NET "SEVEN_SEG[3]" LOC = D16;
NET "SEVEN_SEG[4]" LOC = G14;
NET "SEVEN_SEG[5]" LOC = J17;
NET "SEVEN_SEG[6]" LOC = H14;
NET "RESET" LOC = R17;
NET "b0" LOC = H13;
NET "b1" LOC = E18;
NET "b2" LOC = D18;
NET "b3" LOC = B18;

NET "PWM_OUT" LOC = J13; # left